/*시그니처 배경색*/
.gray {
  background-color: #f8f9f8;
}

.lime-green {
  background-color: #e5f5f2;
}

.ivory {
  background-color: #f8f9f8;
}

.green {
  background-color: #085c57;
}

.pine_Green {
  background-color: #00997b;
}

/*글자 강조색*/
.pine_Green_text {
  color: #00997b;
}

/*시그니처 버튼*/
button {
  background-color: #e5f5f2;
  color: #085c57;
  border: none;
  border-radius: 1px;
  padding: 10px 20px;
}

/*더잠실체*/
@font-face {
  font-family: 'TheJamsil300';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot?#iefix') format('embedded-opentype'),
  url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'TheJamsil400';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot?#iefix') format('embedded-opentype'),
  url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.ttf') format("truetype");
  font-display: swap;
}

.TheJamsil300 {
  font-family: 'TheJamsil300', sans-serif;
}

.TheJamsil400 {
  font-family: 'TheJamsil400', sans-serif;
}

* {
  font-family: 'TheJamsil300', sans-serif;
}

main {
  background-color: #F2F4F7;
  /* min-height: 2000px; */
  min-height: 1000px;
  margin-top: 80px;
}

.section1400 {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.section1600 {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.section1800 {
  max-width: 1800px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.app {
  overflow: hidden;
}

.nav-item{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media (max-width: 768px) {
  .section1800 {
    max-width: 100vw;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
  }
}
/* 윤승현 추가*/
.pt-body{
  padding-left: 10%;
  padding-right: 10%;
}
