/*시그니처 배경색*/
.gray {
  background-color: #f8f9f8;
}

.lime-green {
  background-color: #e5f5f2;
}

.ivory {
  background-color: #f8f9f8;
}

.green {
  background-color: #085c57;
}

.pine_Green {
  background-color: #00997b;
}

/*글자 강조색*/
.pine_Green_text {
  color: #00997b;
}

/*시그니처 버튼*/
button {
  background-color: #e5f5f2;
  color: #085c57;
  border: none;
  border-radius: 1px;
  padding: 10px 20px;
}

/*더잠실체*/
@font-face {
  font-family: 'TheJamsil300';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot?#iefix') format('embedded-opentype'),
  url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'TheJamsil400';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot?#iefix') format('embedded-opentype'),
  url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.ttf') format("truetype");
  font-display: swap;
}

.TheJamsil300 {
  font-family: 'TheJamsil300', sans-serif;
}

.TheJamsil400 {
  font-family: 'TheJamsil400', sans-serif;
}

* {
  font-family: 'TheJamsil300', sans-serif;
}



